@model IEnumerable<mvc_api.Models.About>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

             <p>
                Select from @Model.Count() Abouts:</p> 
 <p>
       @Html.ActionLink("Show the links for about", "Index")
</p> 
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>



   


</table>
